/* ----- Глобальные стили ----- */

/* Расстояние между буквами */
body > *, span, button, input {
    letter-spacing: 0.3px;
}

/* ----- Шапка ----- */

/* Скрытие аватар справа */
.top_profile_img {
    display: none;
}

/* ^ Фикс расстояния от имени до стрелки вниз */
.top_profile_name {
    padding-right: 0;
}

/* Скрытие непонятной кнопки рядом с кнопкой музыки */
.top_audio_play {
    display: none;
}

/* Фикс поля поиска */

/* 110% */
input.text.ts_input, .input_back {
    padding:8px 6px 6px 19px !important;
    background-position-y: 7px;
}

/* 100% */
/*
input.text.ts_input, .input_back {
    padding:7px 6px 6px 19px !important;
}
*/

/* ----- Основная часть сайта ----- */

/* Заглавные первые буквы в блоках (Друзья, информация о профиле и онлайн статус) */
#profile_short .profile_info_row .labeled a:first-letter, .header_right_link:first-letter, .profile_time_lv:first-letter {
    text-transform: uppercase;
}

/* ^ Фиск ссылок в информация о профиле (Маленькая первая заглавная буква) */
#profile_short .profile_info_row .labeled a[href^="/away.php"]:first-letter {
    text-transform: lowercase;
}

/* ^ Фиск ссылок в информация о профиле (Ссылки как блок) */
#profile_short .profile_info_row .labeled a {
    display: inline-block;
}

/* Жирный шрифт в ФИО */
.page_name {
    font-weight: 700 !important;
}

/* Фикс иконки телефона в онлайн статусе */
/* 110% */
.mob_onl {
    background-position-y: 4px;
}

/* Меню сбоку (Фикс) */
#side_bar {
    top: 0 !important;
    position: relative;
}

/* Меню сбоку (Убираем линии) */
#side_bar_inner .more_div {
    display: none;
}

/* ^ Меню сбоку (Убираем линии - Показ некоторых линий) */
#side_bar_inner ol > div:nth-child(12), #side_bar_inner ol > div:nth-child(18) {
    display: block;
    margin-left: 0 !important;
}

/* Фикс меню под навигацией (Центрирование) */
.left_menu_nav_wrap {
    border-top: none;
    width: 149px;
    text-align: center;
}

/* ^ Фикс меню под навигацией (Внутренний отступ справа для 2ой ссылки) */
.left_menu_nav_wrap a:nth-child(2) {
    padding-right: 0;
}

.left_menu_nav_wrap {
    padding-top: 0;
}

.left_menu_more {
    display: block;
    padding-right: 10px;
}

.ui_actions_menu {
    text-align: left;
}

.blog_right_menu_nav {
    margin-top: 10px;
}

.blog_right_menu .left_menu_nav_wrap{
    margin:0 16px;
    width: auto;
}

.blog_right_menu .left_menu_nav_wrap a:nth-child(3) {
    padding-right: 0;
}

.blog_right_menu .left_menu_nav_wrap a:nth-child(2) {
    padding-right: 10px;
}

/* Фикс ширини блока "Наверх" */
#stl_left {
    width: 0 !important;
}

#stl_side {
    display: none !important;
}

/* ----- Дополнительные функции ----- */

/* Неподвижные блоки */
.narrow_column {
    position: static;
    margin-top: 0 !important;
}

/* Скрытие мини чата справа снизу */
.chat_onl_wrap {
    display: none !important;
}

/* Скрытие комментариев */
.replies, .like_btn.comment, .wl_replies_block_wrap, .share, .post_replies_header  {
    display: none;
}

/* Скрытие рекомендаций */
#groups_filters_wrap, #feed_filters div.page_block:nth-child(2), #friends_possible_block, .feed_friends_recomm {
    display: none !important;
}

/* ^ Скрытие рекламы */
#ads_left, .ads_ad_box_border, #ads_left.ads_left_empty {
    display: none !important;
    height: 0 !important;
    position: absolute !important;
    top: 0 !important;
    left: -1000px !important;
}

/* ^ Скрытие рекламы (Фикс нижнего блока) */
#ads_left.ads_left_empty+.left_menu_nav_wrap {
    padding-top: 0 !important;
    border-top: 0 !important;
}

/* Скрытие ненужных полей меню в разных частях сайта */
#ui_rmenu_recommended, #ui_rmenu_search, #ui_rmenu_find, #ui_rmenu_events, #ui_rmenu_category0, .audio_subscribe_promo, .fb-login-button, #top_switch_lang {
    display: none;
}

/* ^ Скрытие ненужных полей меню в разных частях сайта */
#narrow_column > div.page_block.ui_rmenu.ui_rmenu_pr._ui_rmenu_auto_expand:first-child > div.ui_rmenu_sep:nth-child(4) {
     display: none;
}

/* Скрытие списка групп в подробной информации */
#profile_full > div.profile_info_block.clear_fix:last-child > div.profile_info:last-child > div.clear_fix.profile_info_row:last-child {
    display: none;
}

/* VK Pay переименование в левом меню (Размер текста 0) */
#side_bar_inner a[href^="/vkpay"] .left_label {
    font-size: 0;
}

/* ^ VK Pay переименование в левом меню (Переименование в кошелек) */
#side_bar_inner a[href^="/vkpay"] .left_label:before {
    content: 'Кошелёк';
    font-size: 12.5px;
}

/* VK Pay переименование в левом меню > Настройки (Размер текста 0) */
.olist_item_no_vkpay .olist_item_name {
    font-size: 0;
}

/* ^ VK Pay переименование в левом меню > Настройки (Переименование в кошелек) */
.olist_item_no_vkpay .olist_item_name:before {
    content: 'Кошелёк';
    font-size: 13px;
}

/* Скрытие кнопки Facebook при входе */
#index_fbcontinuewithsign {
    height: 0 !important;
}

/* Скрытие надписи Powered by NGINX */
.side_bar_inner div:nth-child(3) {
    display: none !important;
}

/* Редизайн навигации */
/*
#side_bar_inner {
    background:#fff;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin-top: 57px;
}

#side_bar .left_fixer {
    padding:0 15px 0 20px;
}

#side_bar .left_icon {
    display: none;
}

#side_bar ol li {
    margin-left: 0;
}

#side_bar .more_div {
    margin-left: 0;
    margin-right: 0;
    border-top: 1px solid #e7e8ec;
}

#side_bar ol {
    margin: 0;
}

#side_bar ol li .left_row:hover {
    background:#f0f2f5;
}
.left_menu_nav_wrap {
    position: absolute;
    border-top: none;
    margin: 0 8px;
    width: 133px;
    text-align: center;
}
#side_bar .more_div {
    margin-left: 0;
    margin-right: 0;
    border-top: 1px solid #e7e8ec;
}

.more_div.l_main {
     display: none !important;
}
*/
